# top-most EditorConfig file
root = true

[*.ext]
end_of_line = lf
charset = utf-8

# Check for fixable errors
insert_final_newline = true
trim_trailing_whitespace = true

indent_style = space
indent_size = 4
