######################################################################
# These owners will be the default owners for everything in the repo #
######################################################################
*       @admiralawkbar @jwiebalk @zkoppert @nemchik @Hanse00 @github-actions @GaboFDC @ferrarimarco
