######################################################################
# These owners will be the default owners for everything in the repo #
######################################################################
*       @admiralawkbar @lindluni @zkoppert @nemchik @Hanse00 @GaboFDC @ferrarimarco
