# EditorConfig is awesome: http://EditorConfig.org
# top-most EditorConfig file
root = true

# Unix-style newlines at the bottom of every file
[*]
end_of_line = lf
charset = utf-8

# Tab indentation
indent_style = space
indent_size = 2

# Make sure every file has a blank line at the end
insert_final_newline = true

# Remove any whitespace characters preceding newline characters
trim_trailing_whitespace = true

# Give operators breathing room, but not brackets
spaces_around_operators = true
spaces_around_brackets = false

# Max line length (not supported by all editors)
# Enable this option by un-commenting the following line
# max_line_length = 150

[{Makefile,go.mod,go.sum,*.go,.gitmodules}]
indent_style = tab
indent_size = 4

[**/test/*.{kt,kts}]
# Disable the filename rule because our test case logic requires that files used in test cases
# follow a certain syntax which is not compatible with what ktlint currently mandates (PascalCase)
disabled_rules = filename
