[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible-lint = {extras = ["core"], version = "*"}
black = "*"
cfn-lint = "*"
cpplint = "*"
cython = "*"
flake8 = "*"
isort = "*"
kiwisolver = "*"
mypy = "*"
pylint = "*"
snakefmt = "*"
snakemake = "*"
typing_extensions = "*"
types-requests = "*"
yamllint = "*"
yq = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
