ansible-lint[core]==5.2.1
black==20.8b1
cfn-lint==0.56.2
cpplint==1.5.5
flake8==4.0.1
isort==5.10.1
mypy==0.910
pylint==2.11.1
snakefmt==0.4.2
snakemake==6.10.0
sqlfluff==0.8.1
yamllint==1.26.3
yq==2.12.2
