---
#########################
#########################
## Deploy Docker Image ##
#########################
#########################

#
# Documentation:
# https://help.github.com/en/articles/workflow-syntax-for-github-actions
#

#######################################
# Start the job on all push to master #
#######################################
#############################
# Start the job on all push #
#############################
on:
  push:
    branches-ignore:
      - 'master'

###############
# Set the Job #
###############
jobs:
  build:
    # Name the Job
    name: Deploy Docker Image - DEV
    # Set the agent to run on
    runs-on: ubuntu-latest
    ##################
    # Load all steps #
    ##################
    steps:
      ##########################
      # Checkout the code base #
      ##########################
      - name: Checkout Code
        uses: actions/checkout@master

      #####################
      # Run Deploy script #
      #####################
      - name: Deploy image to DockerHub
        env:
          # Set the Env Vars
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          IMAGE_REPO: admiralawkbar/super-linter
          DOCKERFILE_PATH: Dockerfile
        shell: bash
        run: .automation/upload-docker.sh

      - name: debug
        run: printenv
        shell: bash

      - name: Extract branch name
        shell: bash
        run: echo "::set-env name=BRANCH_NAME::$(echo ${GITHUB_REF#refs/heads/} | sed 's/\//_/g')"

      - name: Test
        run: echo "${BRANCH_NAME}"

      ################################
      # Run Linter against code base #
      ################################
      - name: Run Test Cases
        uses: "docker://admiralawkbar/super-linter:${{BRANCH_NAME}}"
        env:
          TEST_CASE_RUN: true
