name: Monthly contributor report
on:
  workflow_dispatch:
  schedule:
    - cron: '3 2 1 * *'

permissions:
  issues: write

jobs:
  contributor_report:
    name: contributor report
    runs-on: ubuntu-latest

    steps:

    - name: Harden Runner
      uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v2.7.1
      with:
        egress-policy: audit

    - name: Get dates for last month
      shell: bash
      run: |
        # Calculate the first day of the previous month
        start_date=$(date -d "last month" +%Y-%m-01)

        # Calculate the last day of the previous month
        end_date=$(date -d "$start_date +1 month -1 day" +%Y-%m-%d)

        #Set an environment variable with the date range
        echo "START_DATE=$start_date" >> "$GITHUB_ENV"
        echo "END_DATE=$end_date" >> "$GITHUB_ENV"

    - name: Run contributor action
      uses: github/contributors@832b6518181710ef277bc9ddafda6696e6b312bd # v1.3.0
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        START_DATE: ${{ env.START_DATE }}
        END_DATE: ${{ env.END_DATE }}
        REPOSITORY: super-linter/super-linter

    - name: Create issue
      uses: peter-evans/create-issue-from-file@24452a72d85239eacf1468b0f1982a9f3fec4c94 # v5.0.0
      with:
        title: Thank you super-linter contributors (${{ env.START_DATE }}..${{ env.END_DATE }})
        token: ${{ secrets.GITHUB_TOKEN }}
        content-filepath: ./contributors.md
